.boardmembers-preview-container {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url("../assets/boardmembers-bg.png") no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
}

.boardmembers-preview {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.boardmembers-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.view-more {
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 60px;
}

.board-members-view-more:hover {
    color:var(--secondarycolour);
}

@media screen and (max-width: 1120px) {
    .view-more {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 20px;
    }
}


