.event-card {
    flex: 1;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    max-width: 350px;
    min-width: 290px;
    
}

.event-picture {
    width: 85%;
    height: 230px;
    object-fit: cover;
    margin-top:20px;
    border-radius: 20px;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-description, .event-title, .event-date, .learn-more {
    max-width:250px;
    margin: 10px;
}

.event-title {
    font-weight: bold;
    margin-top: 20px;
}

.event-date {
    margin-top:5px;
    color: gray;
}

.learn-more {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width: 920px) {
    .event-card {
        width: 250px;
        flex:0;
    }

    .event-details {
        width: 225px;
    }
    
}

